<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% products.forEach((p) => {%>
        <p>product name :- <%= p.product_name %></p>
        <p>category :- <%= p.category %></p>
        <p>product_description :- <%= p.product_description %></p>

        <br>
    <br>
    <br>
    <%}) %>

    
</body>
</html>