<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/createUser" method="post">
        <input type="text" placeholder="name" name="username">


        <label for="admin">admin</label>
        <input type="radio"value="admin" name="role">

        <label for="user">user</label>
        <input type="radio"value="user" name="role">

        <input type="text" placeholder="email" name="email">
        <input type="text" placeholder="pass" name="password">
        <input type="text" placeholder="conf_pass" name="conf_password">

        <button type="submit">Submit</button>
    </form>

    <a href="/login">for Login Click me</a>
</body>

</html>